.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: space-around;
    gap: 3rem;
}

.header{
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.champion-card {
    position: relative;
    overflow: hidden;
    width: 14rem;
    height: 26rem;
    border-radius: 0.5rem;
    border: solid black 1px;
    background: linear-gradient(hsl(0 0% 0% /0), hsl(20 0% 0% / 0.3) 30%, hsl(0 0% 0% / 1));
    transition: transform 200ms ease;
}

.cc-img {
    overflow: hidden;
    position: absolute;
    bottom:0;
    left:0;
    width: inherit;
    height: inherit;
    z-index: -1;
    opacity: 0.8;
    transition: transform 500ms ease; 
}

.cc-body {
    font-size: 1.8rem;
}

.cc-container {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}
.cc-assets {
    height: 40%;
}

.cc-info {
    height: 60%;
}

.cc-name {
    font-size: 1.8rem;
    position: relative;
    margin-bottom: 1rem;
}

.cc-name::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: green;
}

.cc-text {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.cc-btn{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: green;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;   
}

.btn-more {
    cursor: pointer;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
}

.tags{
    display:flex;
    gap: 1rem;
    margin: 1rem 0;
}

.tag {
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color:white;
    font-size: 1rem;
}

.tag-Fighter {
    background-color: #d9480f;
}

.tag-Mage {
    background-color: #364fc7;
}

.tag-Assassin {
    background-color: #e03131;
}

.tag-Tank {
    background-color: #2b8a3e;
}

.tag-Marksman {
    background-color: #e67700;
}

.tag-Support {
    background-color: #862e9c;
}

.card__info--background{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat( 4, auto);
    grid-template-areas:  "tags skins"
                "info skins"
                "spells skins"
                "passive skins";
    background-position: center;
    height: 100vh;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.cic__tags {
    grid-area: tags
    
}

.cic__spells {
    grid-area: spells;
}

.cic__info {
    grid-area: info
}

.cic__passive {
    grid-area: passive
}

.cic__skins {
    grid-area: skins;
    overflow: hidden;
}

.cic__btn,
.cic__btn {
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: 3rem;
    color: gray
}

.cic__btn:hover {
    color: black
}

.info--bars {
    display: flex;
    justify-content: space-around;
}
.info--bar {
    width: 2rem;
    height: 0.3rem;
    background-color: gray;
}

.bar--on {
    background-color: blue;
}

.attack {
    background-color: red;
}

.magic {
    background-color: blue;
}

.defense{
    background-color: green;
}

.difficulty {
    background-color: black;
}

.cic__spell{
    display:flex;
}

.cic__passive {
    display: flex;
}
@media (hover) {
    .champion-card:hover .cc-container,
    .champion-card:focus-within .cc-container{
        transform: translateY(0);
    }
    .champion-card:focus-within .cc-container {
        transition-duration: 0ms;
    }

    .champion-card:hover .cc-img,
    .champion-card:focus-within .cc-img {
        transform: scale(1.3);
        opacity: 1;
    }

    .champion-card:focus-within .cc-img {
        transition-duration: 0ms;
    }
    .cc-container {
        transform: translateY(40%);
        transition: transform 500ms ease;
    }
}